/* *****************************************
! DEBUG
* *****************************************/
.db-border {
    border: 2px dashed #000;
}

.db-h-1x {
    min-height: 100px;
}

.db-h-2x {
    min-height: 500px;
}

[class^="container"] {
    border: 2px dashed green;
}

.row {
    border: 2px dashed goldenrod;
}

[class^="col"] {
    border: 2px dashed blue;
}