/* *****************************************
! DEBUG
* *****************************************/

/* Border */
.db-border {
    border: 2px dashed #000;
}

/* Height */
.db-h-1x {
    min-height: 100px;
}

.db-h-2x {
    min-height: 500px;
}

[class^="container"] {
    border: 2px dashed green;
}


/* Colors */
.db-red {
    background-color: red;
}

.db-green {
    background-color: green;
}

.db-blue {
    background-color: blue;
}

.db-yellow {
    background-color: goldenrod;
}

.db-purple {
    background-color: purple;
}

.db-dark {
    background-color: darkslateblue;
}

.db-light {
    background-color: lightgray;
}


/* Layout */
.row {
    border: 2px dashed goldenrod;
}

[class^="col"] {
    border: 2px dashed cyan;
}