/* *****************************************
* Variables
* *****************************************/
:root {
    /* Layout */
    --layout-top: 70px;
    --layout-side-xs: 70px;
    --layout-side-lg: 160px;

    /* Palette */
    --col-darkgray: #e5e5e5;
    --col-darkblue: #051e34;

    /* Gradients*/
    --lg-sidebar-01: 230deg, transparent 35%, rgba(255,255,255,0.05) 35%, transparent 100%;
    --lg-sidebar-02: 140deg, transparent 70%, rgba(255,255,255,0.05) 70%, transparent 100%;
}


/* *****************************************
* Generics
* *****************************************/
html {
    font-size: 14px;
}


/* *****************************************
* Layout
* *****************************************/
.layout-top {
    height: var(--layout-top);
}

.layout-bottom {
    height: calc(100vh - var(--layout-top));
    display: flex;
}

.layout-side {
    flex: 0 0 var(--layout-side-xs);
}

.layout-main {
    flex-grow: 1;
    overflow-y: auto;
}




/* **********************************************************************************
? ELEMENTS
* ***********************************************************************************/

/* *****************************************
* Badge Custom
* *****************************************/
.text-bg-opaque {
    color: #fff;
    background-color: RGBA(0, 0, 0, 0.2);
}


/* *****************************************
* Navbar
* *****************************************/
/* Logo */
#navbar-logo-xs {
    height: 50px;
    display: block;
}

#navbar-logo-lg {
    height: 30px;
}

/* Search */
#main-navbar .form-control {
    border-left: 0;
    background-color: var(--col-darkgray);
}

#main-navbar .input-group-text {
    background-color: var(--col-darkgray);
}

/* Dropdown */
#main-navbar .dropstart .dropdown-menu {
    top: 80%;
    right: 50%;
}


/* *****************************************
* Sidebar
* *****************************************/
.sidebar {
    background-color: var(--col-darkblue) ;
    background-image: linear-gradient(var(--lg-sidebar-01)), linear-gradient(var(--lg-sidebar-02));
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}


/* *****************************************
* Content Section
* *****************************************/

/* Table */
#content-section td img {
    width: 30px;
}

#content-section th:nth-child(2),
#content-section th:nth-child(5) {
    width: 110px;
}

#content-section th:nth-child(3),
#content-section th:nth-child(4) {
    width: 75px;
}


/* *****************************************
* Sudent Add Offcanvas
* *****************************************/
#student-add-offcanvas {
    width: 100%;
}


/* **********************************************************************************
? RESPONSIVE
* ***********************************************************************************/

/* Media MD */
@media screen and (min-width: 992px) {

    /* *****************************************
    * Layout
    * *****************************************/
    .layout-side {
        flex: 0 0 var(--layout-side-lg);
    }
    
}


/* Media XL */
@media screen and (min-width: 1200px) {

    /* *****************************************
    * Sudent Add Offcanvas
    * *****************************************/
    #student-add-offcanvas {
        width: 800px;
    }
    
}