/* *****************************************
* Variables
* *****************************************/
:root {
    /* Layout */
    --layout-top: 70px;
    --layout-side-xs: 70px;
    --layout-side-lg: 160px;

    /* Palette */
    --col-darkgray: #e5e5e5;
    --col-darkblue: #051e34;
}


/* *****************************************
* Generics
* *****************************************/



/* *****************************************
* Layout
* *****************************************/
.layout-top {
    height: var(--layout-top);
}

.layout-bottom {
    height: calc(100vh - var(--layout-top));
    display: flex;
}

.layout-side {
    flex: 0 0 var(--layout-side-xs);
}

.layout-main {
    flex-grow: 1;
    overflow-y: auto;
}




/* **********************************************************************************
? ELEMENTS
* ***********************************************************************************/

/* *****************************************
* Badge Custom
* *****************************************/
.text-bg-opaque {
    color: #fff;
    background-color: RGBA(0, 0, 0, 0.2);
}


/* *****************************************
* Navbar
* *****************************************/
/* Logo */
#navbar-logo-xs {
    height: 50px;
    display: block;
}

#navbar-logo-lg {
    height: 30px;
}

/* Search */
#main-navbar .form-control {
    border-left: 0;
    background-color: var(--col-darkgray);
}

#main-navbar .input-group-text {
    background-color: var(--col-darkgray);
}


/* *****************************************
* Sidebar
* *****************************************/
.sidebar {
    background: var(--col-darkblue) url('../img/sidebar-bg.png');
}



/* **********************************************************************************
? RESPONSIVE
* ***********************************************************************************/

/* Media MD */
@media screen and (min-width: 992px) {

    /* *****************************************
    * Layout
    * *****************************************/
    .layout-side {
        flex: 0 0 var(--layout-side-lg);
    }
    
}