/* *****************************************
* Variables
* *****************************************/
:root {
    /* Layout */
    --layout-top: 70px;
    --layout-side-xs: 70px;
    --layout-side-lg: 160px;
}


/* *****************************************
* Generics
* *****************************************/



/* *****************************************
* Layout
* *****************************************/
.layout-top {
    height: var(--layout-top);
}

.layout-bottom {
    height: calc(100vh - var(--layout-top));
    display: flex;
}

.layout-side {
    flex: 0 0 var(--layout-side-xs);
}

.layout-main {
    flex-grow: 1;
    overflow-y: auto;
}




/* **********************************************************************************
? ELEMENTS
* ***********************************************************************************/





/* **********************************************************************************
? RESPONSIVE
* ***********************************************************************************/

/* Media MD */
@media screen and (min-width: 992px) {

    /* *****************************************
    * Layout
    * *****************************************/
    .layout-side {
        flex: 0 0 var(--layout-side-lg);
    }
    
}